* { /*full page*/
    margin: 0;
}

div.left {/*Shop name*/
  width: 100%;
  height: 70px;
  background: purple;
  font-family: cursive;
}

div.navwrap {
  vertical-align: top;
  display: inline-block;
}

form#search {
  display: inline-block;
}

div.logo {
  display: inline-block;
  background-color: pink;
  color: black;
  height: 70px;
  line-height: 70px;
  width: 210px;
  font-size: 61px;
  text-align: center;
}

ul.nav li {
  display: inline;
  list-style: none;
  color: black;
}

figure { /*hero image*/
    
    width: auto;
    position: center;
    size: cover;
    position: relative;

}

ul{ /*navigation*/
  display:inline;
   list-style:none;
}

tr{
  position: bottom;

}


#main{
  border: solid black;
  text-align: center;
  height: 200px;
  margin: 50px;
  padding: 50px;
  overflow: hidden;
}

#main .feline{
  float: left;
}

#main .k9{
  float: center;
}

#main .about{
  float: right;
  position: top;
}

footer {
  color: black;
    background-color: greenyellow;
    bottom: 0;
    width: 100%;
    height: 7em;
    margin-bottom: 0;
    display: block;
    list-style: none;
    position: relative;
  text-align: center;
}
.cat { /*nav/logo*/
  
  background-color: transparent;
}